@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
  --shadow-color: 204deg 81% 40%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #797979;
}

body * {
  font-family: "Montserrat", sans-serif;
}

.form-container {
  background: #fff;
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #4e4e4e;
}

#search-form {
height: 80vh;
}

.pips-list,
.pips-list {
  list-style: none;
  font-size: 0.8rem;
}

.pips-list > * {
  user-select: none;
  position: relative;
  background: #fff;
  border-radius: 20px;
  box-shadow:  1px 2px 3px #cccccc,
  0 0 1px #cccccc;
  cursor: pointer;
  text-decoration: none;
  color: black;
  width: max-content;
}

.pips-list > *:hover {
  background-color: #bfd9ffb4;
}

.pips-list > *:hover .fa-star {
  opacity: 1;
}

[class*="-pip"] i.fa-plus {
  position: absolute;
  top: 20%;
  bottom: 0;
}

[class*="-pip"] i.fa-star {
  position: absolute;
  top: 17.5%;
  right: 2.5%;
  opacity: .25;
}

[class*="-pip"] i.fa-star.fa-solid {
  color: #FFC000;
  opacity: 1 !important;
}

[class*="-pip"].active {
  background-color: rgb(41, 228, 140);
}

[class*="-pip"].favourite {
  background-color: #ffbf0046;
}

.fld-label {
  position: relative;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 1px hsl(var(--shadow-color) / 40%),
    0px 0px 2px hsl(var(--shadow-color) / 40%);
  color: hsl(var(--shadow-color) / 70%);
}

[id*="_fld"] {
  padding: 0.15rem 0.50rem;
  box-shadow: 0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 0.6px 0.9px hsl(var(--shadow-color) / 0.1),
    0px 1px 1.5px hsl(var(--shadow-color) / 0.21),
    0px 1.7px 2.6px hsl(var(--shadow-color) / 0.31),
    0.1px 2.9px 4.4px hsl(var(--shadow-color) / 0.41);
  border: 1px solid hsl(var(--shadow-color) / 13%);
}

[id*="from_fld"],
[id*="to_fld"] {
  width: 7.25rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.date-to {
  margin: 0 0.5rem;
}
